{
	"comment1": "Использовать одинарные кавычки",
	"singleQuote": true,

	"comment2": "Разрешить висящую запятую (когда последний элемент массива или объекта имеет запфтую",
	"trailingComma": "all",

	"comment3": "Использовать tab-ы, а не пробелы",
	"useTabs": true,

	"comment4": "Обязательная точка с запятой в конце строки",
	"semi": true,

	"comment5": "Пробелы между скобками",
	"bracketSpacing": true,

	"comment6": "Максимальная длина строки. Если больше, будет переносить",
	"printWidth": 100,

	"endOfLine": "auto"
}
